<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    
    <div id="top-bar">
		<% if(username){ %>
		<span>欢迎您，<%= username %></span>>
		<a href="/logout">退出登录</a>

		<% }else{ %>
		<a href="/login.html">登录</a>
		<a href="/regist.html">注册</a>
		<% } %>
    </div>
</body>

</html>
