@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.header1 {
	width: 100%;
	height: 30px;
	background-color: #009349;
}
.header1 ul {
	width: 250px;
	height: 30px;
	padding-left: 26px;
	position: relative;
	left: 75%;
}
.header1 ul li {
	float: left;
	margin-left: 10px;
}
.header1 ul .line {
	height: 30px;
	width: 1px;
	color: #FFF;
	text-align: center;
	line-height: 30px;
}
.header1 ul li a {
	color: #FFF;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}
.header1 ul li:hover {
	opacity: 0.5;
}
.header2 {
	width: 100%;
	height: 80px;
}
.header2 img {
	position: relative;
	top: 25px;
	left: 8%
}
.header2 ul {
	width: 60%;
	height: 80px;
	float: right;
}
.header2 ul li {
	float: left;
	height: 80px;
	width: 80px;
}
.header2 ul li a {
	color: #A8A8A8;
	line-height: 80px;
	text-align: center;
	font-size: 15px;
}
.header2 ul li a:hover {
	color: #008000;
}
.mid1 img {
	width: 100%;
	height: 570px;
}
.mid2 {
	width: 88%;
	height: 940px;
	border: 1px solid #CCC;
	margin: 70px auto
}
.mid2 .mid2_1 {
	width: 25%;
	height: 50%;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	float: left;
}
.mid2 .img {
	width: 192px;
	height: 226px;
	position: relative;
	left: 13%;
	top: 15%
}
.mid2 .icon1 {
	position: relative;
	top: -155px;
	left: 27px;
}
.mid2 .mid2_1 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_1 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.mid2 .mid2_2 {
	width: 25%;
	height: 50%;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	float: left;
}
.mid2 .icon2 {
	position: relative;
	top: -149px;
	left: 20px;
}
.mid2 .mid2_2 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_2 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.mid2 .mid2_3 {
	width: 25%;
	height: 50%;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	float: left;
}
.mid2 .mid2_3 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_3 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.mid2 .mid2_4 {
	width: 24%;
	height: 50%;
	border-bottom: 1px solid #CCC;
	float: left;
}
.mid2 .mid2_4 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_4 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.mid2 .mid2_5 {
	width: 25%;
	height: 50%;
	border-right: 1px solid #CCC;
	float: left;
}
.mid2 .mid2_5 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_5 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.mid2 .mid2_6 {
	width: 25%;
	height: 50%;
	border-right: 1px solid #CCC;
	float: left;
}
.mid2 .icon6 {
	position: relative;
	top: -149px;
	left: 21px;
}
.mid2 .mid2_6 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_6 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.mid2 .mid2_7 {
	width: 25%;
	height: 50%;
	border-right: 1px solid #CCC;
	float: left;
}
.mid2 .mid2_7 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_7 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.mid2 .mid2_8 {
	width: 24%;
	height: 50%;
	float: left;
}
.mid2 .mid2_8 span:nth-of-type(1) {
	display: block;
	position: relative;
	top: 20%;
	left: 15%;
	color: #999
}
.mid2 .mid2_8 span:nth-of-type(2) {
	display: block;
	position: relative;
	top: 28%;
	left: 38%;
}
.footer {
	width: 100%;
	height: 516px;
	background: #F3F3F3;
}
.footer img {
	margin: 26px 82px;
}
.footer .f1 {
	width: 124px;
	height: 180px;
	margin-left: 82px;
	margin-right: 20px;
	float: left;
}
.footer .f1 ul {
	width: 120px;
	height: 140px;
	margin: 18px 2px;
}
.footer .f1 li {
	float: left;
	width: 120px;
	height: 20px;
	font-size: 15px;
	color: #333;
}
.footer .online_number {
	width: 200px;
	height: 160px;
	float: left;
	position: relative;
	left: 150px;
}
.footer .online_number img {
	width: 184px;
	height: 47px;
	margin-left: 8px;
	margin-top: 5px;
}
.footer .online_number p:nth-of-type(1) {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}
.footer .online_number p:nth-of-type(2) {
	text-align: center;
}
.footer .footer_message {
	width: 86%;
	height: 124px;
	float: left;
	margin: 1% 7%;
	border-top: 1px solid #CCC;
}
.footer .footer_message span:nth-of-type(1) {
	margin: 40px 0;
	color: #999;
	display: block;
	font-size: 14px;
	float: left;
}
.footer .footer_message .a1 {
	width: 40px;
	height: 40px;
	background: url(../image/qi.png) no-repeat;
	float: left;
	position: relative;
	top: 36px;
	left: 8px;
}
.footer .footer_message .a1:hover {
	background: url(../image/28.png) no-repeat;
}
.footer .footer_message span:nth-of-type(2) {
	margin: 40px 10px 40px 400px;
	;
	color: #999;
	display: block;
	font-size: 14px;
	float: left;
}
.footer .footer_message .a2 {
	width: 40px;
	height: 40px;
	background: url(../image/weibo.png) no-repeat;
	float: left;
	position: relative;
	top: 34px;
	left: 4px;
}
.footer .footer_message .a2:hover {
	background: url(../image/32.png) no-repeat;
}
.footer .footer_message .a3 {
	width: 44px;
	height: 44px;
	background: url(../image/weixin.png) no-repeat;
	float: left;
	position: relative;
	top: 32px;
	left: 10px;
}
.footer .footer_message .a3:hover {
	background: url(../image/33.png) no-repeat;
}
.footer .footer_message .a3:hover .img1 {
	display: block;
	position: relative;
	top: -250px;
	left: -140px;
}
.footer .footer_message .a4 {
	width: 40px;
	height: 40px;
	background: url(../image/shoucang.png) no-repeat;
	float: left;
	position: relative;
	top: 32px;
	left: 16px;
}
.footer .footer_message .a4:hover {
	background: url(../image/34.png) no-repeat;
}
.img1 {
	display: none;
}
.img2 {
	display: none;
}
.footer .footer_message .a4:hover .img2 {
	display: block;
	position: relative;
	top: -250px;
	left: -150px;
}
.backtop {
	position: fixed;
	width: 30px;
	height: 30px;
	right: 30px;
	bottom: 30px;
}
